// Colours
$colours: (
    blue: #165578,
    white: #fff,
    black: #1e2329,
    pure-black: #000,
    red: #d84f4e,
    skyblue: #06abbc,
    lightblue: #e1f8f4,
    yellow: #e6b813,
    green: #8ee02a,
    light-grey: #c8c6c7,
    dark-green: #5fb045,
);
